body {
    padding: 0px;
    margin: 0px;
    background-color: #F1DABF;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #523d00;
    width: 80%;
    height: 90px;
    margin: 0 auto;
}
main {
    margin: 0 auto;
    width: 80%;
}
#hero {
    width: 100%;
}
.info-paragraph {
    color: #00FF00;
    background-color: #92817A;
    font-size: 1.3em;
    margin: 0px;
    text-align: center;
}
.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: #F1DABF;
    margin-top: 30px;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
    color: #00FF00;
}
.bottom-grid-div {
    background-color: #523d00;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin: 0 auto;
}
.home-sub-images {
    background-color: white;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.home-sub-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-button h3{
    background-color: #92817A;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1.3em;
}